body{
  background-color: rgb(221, 221, 221);
}
.container{
  color:#333;
  width: 960px;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
}
img{
  border-radius: 50%;
  border:10px solid rgba(141, 39, 59,.1);
  padding: 10px ;
  margin: 20px auto;
  display: flex;
  width:250px;
  height:250px;
}
.left{
width: 400px;
box-shadow: 3px 0px 0px rgba(141, 39, 59,.1);
}
.right{
  width: 70%;

  }
  p{
    margin:20px 30px;
  }
  h3{
    color:#8d273b;
    text-transform: uppercase;
    margin:50px 30px 5px 30px;
  }
  .contact{
    margin-top: 50px;
  }
  ul{
    list-style-type: none;
    padding: 0 30px;
  }
  h1{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    font-size:80px;
    color:#8d273b;
    text-transform: uppercase;
    margin:20px 30px;
    text-align: center;
  }
  h2{
    margin:20px 30px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    text-align: center;
  }
  hr{
    background-color:rgba(141, 39, 59,.1);
    height: 1px;
    border:0;
    margin:0 30px;
  }
  li{
    padding: 0;
   }
 
  

  footer,header{
    width: 920px;
    margin: 0 auto;
    color:rgb(206, 205, 205);
    text-align: center;
    background-color:rgb(141, 39, 59);
    padding: 10px 20px;
    }
    p.skill{
      margin-left: 50px;
      margin-right: 0px;
      /* color:#d3d3d3; */
      color:#333;
      font-weight: normal;
    }
    button{
      margin:0 30px;
      background-color:rgba(141, 39, 59,.2);
      border:0;
      color:#333;
 
    }
    #html{
      margin-left:62px;
      width:143.5px;
    }
    #css{
      margin-left:72px;
      width:307.5px;
    }
    #photoshop{
      margin-left:28px;
      width:102px;
    }
    #javaScript{
      width:410px;
    }
   #react{
    width:205px;
    margin-left: 65px;
   }